<template>
  <div>
    <h1>Home</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit corrupti
      quibusdam numquam perferendis hic error nobis a voluptas omnis sunt ipsa
      id deleniti quia ad alias sapiente, corporis odio consectetur.
    </p>
  </div>
</template>
