<template>
  <!--<div class="wrapper">
    
    <div class="left">Left</div>
    <div class="rigth">Right</div>
  </div>

  <HelloWorld msg="Welcome to Your Vue.js App" />-->
  <v-carousel>
    <v-carousel-item
      v-for="(item, i) in items"
      :key="i"
      :src="item.src"
      cover
      contain
    ></v-carousel-item>
  </v-carousel>
  
  <p>
    <!-- use the router-link component for navigation. -->
    <!-- specify the link by passing the `to` prop. -->
    <!-- `<router-link>` will render an `<a>` tag with the correct `href` attribute -->
    <router-link to="/">Go to Home</router-link>
    <router-link to="/about">Go to About</router-link>
  </p>

  <div>
    <v-alert
      v-model="alert"
      border="start"
      variant="tonal"
      closable
      close-label="Close Alert"
      color="deep-purple-accent-4"
      title="Closable Alert"
    >
      Aenean imperdiet. Quisque id odio. Cras dapibus. Pellentesque ut neque.
      Cras dapibus. Vivamus consectetuer hendrerit lacus. Sed mollis, eros et
      ultrices tempus, mauris ipsum aliquam libero, non adipiscing dolor urna a
      orci. Sed mollis, eros et ultrices tempus, mauris ipsum aliquam libero,
      non adipiscing dolor urna a orci. Curabitur blandit mollis lacus.
      Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet,
      leo.
    </v-alert>

    <div v-if="!alert" class="text-center">
      <v-btn @click="alert = true"> Reset </v-btn>
    </div>
  </div>

  <!-- route outlet -->
  <!-- component matched by the route will render here -->
  <router-view></router-view>
</template>

<script>
//import HelloWorld from "./components/HelloWorld.vue";
//import Footer from "./components/Footer/Footer.vue";

export default {
  name: "App",
  components: {
    //HelloWorld,
    //Footer
  },
  data() {
    return {
      alert: true,
      icons: ["mdi-facebook", "mdi-twitter", "mdi-linkedin", "mdi-instagram"],
      items: [
        {
          src: "https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg",
        },
        {
          src: "https://cdn.vuetifyjs.com/images/carousel/sky.jpg",
        },
        {
          src: "https://cdn.vuetifyjs.com/images/carousel/bird.jpg",
        },
        {
          src: "https://cdn.vuetifyjs.com/images/carousel/planet.jpg",
        },
      ],
    };
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.wrapper {
  display: flex;
}

.alertDiv {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}

.left,
.rigth {
  display: block;
  width: 50%;
}

.left {
  border: 1px solid red;
}

.rigth {
  border: 1px solid blue;
}
</style>
